<h1>New Preference</h1>

<%= render 'form', preference: @preference %>

<%= link_to "Conversar", match_path(@preference, :gender => @preference.gender, :min_age => @preference.min_age, :max_age => @preference.max_age) %>

<%= link_to 'Back', root_url %>
