<h1>Preferências</h1>
<h3>Selecione as características da pessoa com quem você quer conversar! </h3>
<p>0 - Masculino | 1 - Feminino | 2 - Indiferente</p>

<%= render 'form', preference: @preference %>

<%= link_to 'Back', root_url, :style=>'color: #241B36; text-decoration: none' %>
